#Se debera especificar los archivos y carpetas que no se desean subir al repositorio junto con una descripcion de dichos archivos y carpetas.

pageStructure.jpg
#Imagen de referencia para la estructura de la pagina web.