/* ? Vars---------------------------------------*/
:root {
    --first-background-color: #111111;
    --second-background-color: #181818;
    --third-background-color: #ffffff4a;
    --fourth-backgound-color: #151515;
    --fifth-backgound-color: #1b1b1b;
    --first-color: #E52421;
    --second-color: #ffffff;
    --third-color: #9E9E9E;
    --fourth-color: #050505;
    --fifth-color: #727272;
    /*   
    --first-background-color: #121212;
    --second-background-color: #2b2b2b;
    */
}
:root {
    --first-font-family: 'Montserrat', sans-serif;      /*textos de parrafo, menu, botones*/
    --second-font-family: "Playfair Display", serif;    /*titulos y algunos textos*/
    --third-font-family: "Oswald", sans-serif;          /*titulos y algunos textos*/
    --fourth-font-family: "Rye", serif;                 /*titulos y algunos textos*/
    --fifth-font-family: "Roboto Flex", sans-serif;     /*textos de parrafo, menu, botones*/
}
/* ?principal-----------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid blue; */
}
html{
    scroll-behavior: smooth;
}
.body {
    background-color: var(--second-background-color);
}
.title {
    font-size: 23px;
    font-family: var(--fourth-font-family);
    color: var(--second-color);
    font-weight: 100;
}

/* *inicio--------------------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--first-background-color);
    padding: .5rem 3rem;
}
.logo {
    width: 70px;
    height: 70px;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav {
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.nav-item {
    list-style: none;
    position: relative;
}
.nav-link {
    text-decoration: none;
    color: var(--second-color);
    font-size: 1rem;
    transition: all .3s ease-in-out;
    font-family: var(--first-font-family);
}
.nav-link:hover {
    opacity: 0.7;
    transform: scale(1.1);
}
.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: var(--first-color);
    opacity: 0.7;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}
.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
/* *seccion principal---------------------------*/
.main-section {
    background-color: var(--first-background-color);
    width: auto;
    height: 100vh;
}
.background-homesection {
    width: auto;
    height: 85%;    
    background-image: url(../images/1882_opcional_1.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.elements-homesection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem;
}
.text-homesection {
    margin: 1rem 0;
    font-size: 40px;
    color: var(--fourth-color);
    font-family: var(--second-font-family);
    /* text-shadow: 0px 1px 3px rgba(f, f, f, 0.9); */
    background-color: var(--third-background-color);
    padding: 1rem;
    border: none;
    outline: 1px solid var(--second-color);
    outline-offset: 2px;
}
.button-homesection {
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    border: none;
    font-family: var(--first-font-family);
    background-color: var(--first-background-color);
    color: var(--second-color);
}
.img-homesection {
    align-self: center;
    width: 19rem;
    height: auto;
    margin: 1rem;
}
.img-homesection img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* *segunda seccion-----------------------------*/
.catalog-section {
    height: 80%;
    width: auto;
    padding: 3rem 10%;
    padding-bottom: 5rem;
    background-color: var(--first-background-color);
}
.catalog-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}
.catalog-link {
    font-size: 18px;
    font-family: var(--first-font-family);
    color: var(--third-color);
    text-decoration: none;
}
.conten-carrusel {
    display: flex;
}
.conten-carrusel-button {
    width: auto;
    height: auto;
    position: absolute;
    align-self: center;
}
.carrusel-button {
    font-size: 25px;
    color: var(--second-color);
    background-color: var(--fourth-color);
    padding: .7rem 1rem;
    border: none;
    border-radius: 90px;
    text-align: center;
    transition: all .3s ease-in-out;
}
.carrusel-button:hover {
    transform: scale(1.08);
    opacity: .9;
    color: var(--first-color);
}
.button-next {
    left: 85%;
}
.button-previous {
    right: 85%;
    transform: scale(-1);
}
#buttonPrevious {
    display: none;
}
#buttonPrevious.visible {
    transition: all .3s ease-in-out;
    display: block; 
}
.conten-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}
.card {
    width: 15rem;
    height: 25rem;
    margin: 1rem;
    /* background-color: var(--third-background-color); */
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
}
.card-img {
    width: auto;
    height: 75%;
}
.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-card {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 25%;
    justify-content: space-between;
}
.title-card {
    color: var(--second-color);
    font-family: var(--fifth-font-family);
    margin: .5rem 0;
    font-size: 18px;
}
.data-card {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    color: var(--second-color);
    font-family: var(--third-font-family);
    margin: .5rem 0;
    font-size: 17px;
}
.data-card-alcohol {
    color: var(--fifth-color);
}
/* *tercera seccion-----------------------------*/
.preparation-section {
    padding: 5rem 10%;
    background-color: var(--fourth-backgound-color);
}
.conten-preparation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.conten-preparation-img {
    min-width: 25%;
    max-width: 30%;
    height: 60vh;
    margin-top: 3rem;
}
.conten-preparation-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.conten-instructions {
    width: 60%;
    height: auto;
}
.instructions-ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.instructions-li {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
.instructions-li h4 {
    color: var(--first-color);
    font-family: var(--third-font-family);
    font-size: 22px;
}
.instructions-li p {
    color: var(--second-color);
    font-family: var(--first-font-family);
    font-size: 18px;
    margin: 1rem 0;
}
/* *cuarta seccion-----------------------------*/
.about_us-section {
    padding: 5rem 10%;
    background-color: var(--fifth-backgound-color);
}
.conten-about_us {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.about_us-text {
    margin: 1rem;
    margin-top: 3rem;
    width: 30%;
}
.about_us-text p {
    color: var(--second-color);
    font-family: var(--first-font-family);
    font-size: 16px;
    text-align: center;
    margin: 1rem 0;
}
.about_us-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--first-color);
    font-size: 25px;
}
.about_us-icon h5 {
    margin-left: 1rem;
    color: var(--second-color);
    font-family: var(--third-font-family);
    font-size: 22px;
    font-weight: 100;
}
