/* ? Vars---------------------------------------*/
:root {
    --first-background-color: #111111;
    --second-background-color: #181818;
    --third-backgroud-color: #ffffff4a;
    --first-color: #E52421;
    --second-color: #ffffff;
    --third-color: #9E9E9E;
    --fourth-color: #050505;
    --fifth-color: #727272;
    /*   
    --first-background-color: #121212;
    --second-background-color: #2b2b2b;
    */
}
:root {
    --first-font-family: 'Montserrat', sans-serif;      /*textos de parrafo, menu, botones*/
    --second-font-family: "Playfair Display", serif;    /*titulos y algunos textos*/
    --third-font-family: "Oswald", sans-serif;          /*titulos y algunos textos*/
    --fourth-font-family: "Rye", serif;                 /*titulos y algunos textos*/
    --fifth-font-family: "Roboto Flex", sans-serif;     /*textos de parrafo, menu, botones*/
}
/* ?principal-----------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid blue; */
}
.body {
    background-color: var(--second-background-color);
}
.title {
    font-size: 20px;
    font-family: var(--fourth-font-family);
    color: var(--second-color);
    font-weight: 100;
}

/* *inicio--------------------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--first-background-color);
    padding: .5rem 3rem;
}
.logo {
    width: 70px;
    height: 70px;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav {
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.nav-item {
    list-style: none;
    position: relative;
}
.nav-link {
    text-decoration: none;
    color: var(--second-color);
    font-size: 1rem;
    transition: all .3s ease-in-out;
    font-family: var(--first-font-family);
}
.nav-link:hover {
    opacity: 0.7;
    transform: scale(1.1);
}
.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: var(--first-color);
    opacity: 0.7;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}
.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
/* *seccion principal---------------------------*/
.main-section {
    background-color: var(--first-background-color);
    width: auto;
    height: 95vh;
}
.background-homesection {
    width: auto;
    height: 85%;    
    background-image: url(../images/1882_opcional_1.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.elements-homesection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.text-homesection {
    margin: 1rem 0;
    font-size: 40px;
    color: var(--fourth-color);
    font-family: var(--second-font-family);
    /* text-shadow: 0px 1px 3px rgba(f, f, f, 0.9); */
    background-color: var(--third-backgroud-color);
    padding: 1rem;
    border: none;
    outline: 1px solid var(--second-color);
    outline-offset: 2px;
}
.button-homesection {
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    border: none;
    font-family: var(--first-font-family);
    background-color: var(--first-background-color);
    color: var(--second-color);
}
.img-homesection {
    align-self: center;
    width: 19rem;
    height: auto;
}
.img-homesection img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* *segunda seccion-----------------------------*/
.catalog-section {
    height: 80%;
    width: auto;
    padding: 3rem 10%;
}
.catalog-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}
.catalog-link {
    font-size: 18px;
    font-family: var(--first-font-family);
    color: var(--third-color);
    text-decoration: none;
}
.conten-carrusel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}
.conten-carrusel-button {
    width: auto;
    height: auto;
    position: absolute;
    align-self: center;
    left: 85%;
}
.carrusel-button {
    font-size: 25px;
    color: var(--second-color);
    background-color: var(--fourth-color);
    padding: .5rem;
    border: none;
}
.card {
    width: 13rem;
    height: 23rem;
    margin: 1rem;
    /* background-color: var(--third-backgroud-color); */
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
}
.card-img {
    width: auto;
    height: 75%;
}
.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-card {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 25%;
    justify-content: space-between;
}
.title-card {
    color: var(--second-color);
    font-family: var(--fifth-font-family);
    margin: .5rem 0;
    font-size: 18px;
}
.data-card {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    color: var(--second-color);
    font-family: var(--third-font-family);
    margin: .5rem 0;
    font-size: 17px;
}
.data-card-alcohol {
    color: var(--fifth-color);
}